*,
*::after,
*::before {
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}

body {
    background-color: #121212;
    color: #FFFFFF;
    font-family: sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.container {
    width: 950px;
    height: 100%;
    border: solid rgba(251, 251, 251, 0.1);
    overflow: auto;
    border-radius: 10px;
    padding: 20px;
  }
.logo img {
    width: 6rem;
    height: 100%;
    height: 6rem;
    position: absolute;
    left: 1.5rem;
    
}

.image_section{
   display: flex;
   position: relative;
   margin-top: 50px;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   
}
h1 {
    font-size: 2.5rem;
}
.icons{
    display: flex;
    gap: 2rem;
    animation: bounce 1.5s ease-in infinite;
}
.tech_icon {
    width: 10rem;
    height: 10rem;
}
.my_image img {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center top;
    border: 3px solid white;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.1);
}

.about_section{
    padding: 20px;
}

.about_section h2 {
    font-size: 2.8rem;
    border: #FFFFFF;
    margin-bottom: 1rem;
}
.resume p {
    font-size: 2.5rem;
    text-align: center;
    
}
.resume .resume_link a {
    display: inline-block;
    margin-left: 7rem;
    padding: 0.75rem 1.5rem;
    background-color: #5a5aff;
    color: white !important;
    font-size: 2rem;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
}
.about_section p{
    margin-top: 0;
    font-size: 1.8rem;
    max-width: 75ch;
    line-height: 1.6;
    color: #e0e0e0;
}


@keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }